[tool.poetry]
name = "archivooor"
version = "0.0.3"
description = "A Python package to submit web pages to the Wayback Machine for archiving."
authors = ["Barabazs <31799121+Barabazs@users.noreply.github.com>"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/Barabazs/archivooor"

[tool.poetry.dependencies]
python = "^3.8,<4.0"
requests = "^2.28.1"
urllib3 = "^1.26.12"
python-dotenv = "0.21.0"

[tool.poetry.group.dev.dependencies]
black = "^24.4.2"
pre-commit = "^3.5.0"
mypy = "^1.10.0"
isort = "^5.13.2"
pydocstyle = "^6.3.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
